{% extends 'base.html.twig' %}

{% block title %}
Yo {{ prenom }}
{% endblock %}

{% block body %}

  <h1>Bonjour {{ prenom }}.</h1>
  <h2>Nos formateurs</h2>

  {% include '_formateur.html.twig' with {'formateur': formateur1} %}

  {% set formateur = formateur2 %}
  {% include '_formateur.html.twig' %}

{% endblock %}